<% include ./layout/header %> 

    <% if (code == "00") { %>
        <p style="text-align: center">GD thành công</p>
    <% } else { %>
        <p style="text-align: center; color: red">GD thất bại</p>
    <% } %>
     <p style="text-align: center">
        <a class="btn btn-default" href=<%= redirec +'?status=true' %> >Về danh sách</a>
     </p>
    
<% include ./layout/footer %> 
